<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="aMAZEing_Escape.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <aMAZEing_Escape.Properties.Settings>
            <setting name="avancer" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="reculer" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="gauche" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="droite" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="sauter" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="sebaisser" serializeAs="String">
                <value>LeftControl</value>
            </setting>
            <setting name="plein_ecran" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="index_resolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sensibilite_souris" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="volume_musiques" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="volume_sons" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="densite_brouillard" serializeAs="String">
                <value>0.75</value>
            </setting>
        </aMAZEing_Escape.Properties.Settings>
    </userSettings>
</configuration>